*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}

.content{
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    background-image:url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh ;
}
.header_content{
    border-bottom: 1px solid gray;
}
.header{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
  

}
.menu .nav_link{
    color:#fff;   
    margin-left: 30px;
}
.menu{
    margin-top: 19px;
}
.nav_link:hover{
    color: indigo;
}
.header_title_text{
    color: ivory;
    font-size: 70px;
    text-align: center;
    margin-top: 400px;
    margin-left: 80px;
    font-weight: 500;
    font-style: italic;
}
.header_title_text_P{
    color: ivory;
    font-size: 50px;
    text-align: center;
    margin-top: 40px;
    margin-left: 80px;
    font-weight: 500;
    font-style: italic;
}
